#Counter{
    border: 2px dotted #999 ;
    margin: 10px;
}
#toogleText{
    border:2px dotted #999;
    margin: 10px;
}
#ChangeBg{
    border:2px dotted #999;
    margin: 10px;
}
#formInput{
    border: 2px dotted #999;
    margin: 10px;
}
#characterCount{
    border: 2px dotted #999;
    margin: 10px;
}